.btn {
  color: hsl(var(--clr-theme-icon));
  transition: background-color 150ms linear;
  padding: var(--space-xs);
  margin-inline: calc(-1 * var(--space-xs));
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(var(--hover-bg));
}

.icon {
  width: 1.5rem;
}
